.header {
  position: fixed;
  width: 100%;
  height: 110px;
  z-index: 15;
  padding: 44px 120px 0 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: height .2s, background-color .2s;
  background: $white;
  //&.is--blue {
  //  .header-logo {
  //    background-image: url("../images/common/logo-blue.png");
  //  }
  //}
  &-bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    &.is--active {
      opacity: 1;
      z-index: 11;
    }
  }
  &-menu-img {
    opacity: 0;
    position: absolute;
    left: 84px;
    top: 150px;
    width: 400px;
    z-index: 11;
    height: 0;
    transition-property: opacity, height;
    transition-timing-function: ease-in-out;
    transition-duration: .4s;
    background-repeat: no-repeat;
    background-image: url("../images/common/heaer-menu-img.png");
  }
  &:after {
    opacity: 0;
    content: '';
    width: 100%;
    height: 0;
    background: #ffffff;
    position: absolute;
    top: 110px;
    left: 0;
    transition-property: opacity, height;
    transition-timing-function: ease-in-out;
    transition-duration: .4s;
  }
  &-logo {
    width: 233px;
    height: 41px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-image: url("../images/common/logo.png");
    &__link {
      display: block;
    }
  }
  &-menu {
    padding-top: 23px;
    text-align: center;
    z-index: 11;
    &-list {
      display: flex;
    }
    &__item {
      padding: 0 2vw 37px;
      position: relative;
      &:last-child {
        &:after {
          content: '';
          background: transparent;
          height: 0;
          width: 1px;
          position: absolute;
          top: 66px;
          right: 0;
          transition-property: background-color, height;
          transition-timing-function: ease-in-out;
          transition-duration: 0s;
          transition-delay: 0s;
        }
      }
      //&:nth-child(3) {
      //  width: 155px;
      //  display: block;
      //  padding: 0;
      //  .header-menu__link {
      //  }
      //}
    }
    .header-menu__link {
      font-size: 17px;
      letter-spacing: -0.17px;
      color: #333333;
      box-sizing: border-box;
      position: relative;
      font-weight: 500;
      &.disabled {
        opacity: .4;
      }
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: $point;
        left: 0;
        bottom: -19px;
        -webkit-transition: all 0.5s ease .1s;
        -moz-transition: all 0.5s ease .1s;
        -o-transition: all 0.5s ease .1s;
        transition: all 0.5s ease .1s;
      }
    }
    .header-menu-depth {
      position: absolute;
      width: 100%;
      left: 0;
      top: 33px;
      height: 0;
      opacity: 0;
      transition-property: opacity, height;
      transition-timing-function: ease-in-out;
      transition-duration: .8s;
      box-sizing: border-box;
      text-align: center;
      &__link {
        display: block;
        color: #888;
        letter-spacing: -0.4px;
        font-size: 0;
        opacity: 0;
        height: 0;
        padding: 0;
        transition-property: opacity, height;
        transition-timing-function: ease-in-out;
        transition-duration: .8s;
        &.disabled {
          opacity: 0.4;
        }
        &:hover {
          font-weight: 600;
        }
      }
    }
  }
  &-tel {
    margin-top: 19px;
    width: 240px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url("../images/common/header-tel.png");
  }
  //&.is--show-depth {
  //  .header-logo {
  //    background-image: url("../images/common/logo-blue.png");
  //  }
  //  .header-menu__link {
  //    color: $point;
  //  }
  //  .header-menu__item {
  //    &:hover {
  //      .header-menu__link {
  //        &:after {
  //          width: 100%;
  //        }
  //      }
  //    }
  //  }
  //  .header-tel {
  //    background-image: url("../images/common/header-tel-blue.png");
  //  }
  //  .header-menu-depth {
  //    display: block;
  //  }
  //}
  &.is--show-depth {
    z-index: 17;
    &:before {
      height: calc(100vh - 410px);
      display: block;
    }
    &:after {
      border-top: 1px solid rgba(0,0,0,.1);
      height: 300px;
      opacity: 1;
    }
    .header-menu-img {
      opacity: 1;
      height: 203px;
    }
    .header-menu-depth {
      padding-top: 35px;
      height: 250px;
      opacity: 1;
    }
    .header-menu-depth__link {
      padding: 5px 0;
      font-size: 15px;
      height: auto;
      opacity: 1;
    }
    .header-menu {
      &__link {
      }
      &__item {
        //&:before,
        //&:after {
        //  height: 215px;
        //  background-color: #000a25;
        //  transition-duration: .5s;
        //  transition-delay: 0.5s;
        //}
        &:hover {
          .header-menu__link {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
