.sub {
  &-top {
    &-area {
      height: 860px;
      padding-left: 80px;
      box-sizing: border-box;
      padding-top: 109px;
      padding-right: 80px;
      position: relative;
    }

    &-bg {
      position: absolute;
      left: 80px;
      top: 0;
      bottom: 0;
      right: 0;
      width: calc(100% - 160px);
      height: 100%;
      background-size: cover;
      z-index: 7;
      background-image: url('../images/sub/sub-top-bg.png');
      background-position: 50% 100%;
      background-repeat: no-repeat;
    }

    &-title {
      position: relative;
      z-index: 11;
      text-align: left;
      .sub-top__title-line {
        display: block;
        width: 0;
        height: 1px;
        background: $blue;
        margin: 0 0 50px 0;
        transition: width 1s;
      }
      .sub-top__title {
        color: $blue;
        &-img {
          position: absolute;
          left: 80px;
          top: 80px;
        }
        div {
          font-size: 48px;
          letter-spacing: -1.2px;
          font-weight: normal;
          font-family: TrajanPro, $korea;
        }
      }
      .sub-top__sub-title {
        font-size: 20px;
        margin-top: 15px;
        color: $blue;
        transform: translate3d(0,50px,0);
        opacity: 0;
        transition: 1s;
      }
      &.is--active {
        .sub-top__title-line {
          width: 89px;
        }
        .sub-top__sub-title {
          opacity: 1;
          transform: translate3d(0,0,0);
        }
      }
    }
  }

  .sub-top {
    &-menu {
      background: $white;
      position: absolute;
      bottom: -89px;
      left: 0;
      width: 100%;
      z-index: 11;
      height: 89px;
      display: flex;
      align-items: center;
      opacity: 0;
      padding-left: 80px;
      box-sizing: border-box;
      justify-content: space-between;

      &__item {
        letter-spacing: -0.5px;
        font-size: 16px;
        color: #000000;

        & + .sub-top-menu__item {
          &:before {
            content: '';
            width: 1px;
            height: 20px;
            background: #d9d9d9;
            display: inline-block;
            margin: 0 30px;
            vertical-align: middle;
          }
        }
        &.is--active {
          color: #cadbed;
          font-weight: bold;
        }
      }

      .sub-menu {
        &-home {
          &__icon {
            float: left;
            width: 32px;
            height: 48px;
            margin-right: 20px;
            background: url('../images/sub/icon-sub-menu.png') no-repeat center;
          }
          &__link {
            display: block;
            height: 100%;
          }
        }
        .sub-menu-depth {
          float: left;
          width: 220px;
          height: 48px;
          background: url('../images/sub/sub-dropdown-arrow.png') no-repeat right 20px center / 8px;
          padding-left: 20px;
          font-size: 15px;
          color: #000;
          box-sizing: border-box;
          position: relative;
          line-height: 48px;
          &:after {
            content: '';
            display: block;
            height: 25px;
            width: 1px;
            background-color: #d9d9d9;
            position: absolute;
            left: 0;
            top: 13px;
          }
          &-list {
            display: none;
          }
          &:hover {
            .sub-menu-depth {
              &-list {
                display: block;
                position: absolute;
                top: 47px;
                left: 0;
                border: 1px solid #d9d9d9;
                border-top: 0;
              }
              &__item {
                width: 218px;
                height: 48px;
                border-top: 1px solid #d9d9d9;
              }
              &__link {
                display: block;
                height: 100%;
                padding-left: 14px;
                background: #fff;
                font-size: 15px;
                color: #444;
                line-height: 48px;
                &:hover {
                  color: $point;
                }
              }
            }
          }
        }
      }
    }
  }
}

.sub-content-area {
  min-height: 300px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding-top: 70px;
  .sub-content-text {
    margin-left: auto;
    display: block;
    margin-top: 9%;
  }
}
.sub-content-title-line {
  width: 1px;
  height: 0;
  background: $darkPoint;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 1s ease 2.4s;
  -moz-transition: all 1s ease 2.4s;
  -o-transition: all 1s ease 2.4s;
  transition: all 1s ease 2.4s;
}

.sub-content__title {
  position: absolute;
  left: 0;
  display: flex;
  height: 161px;
  padding-left: 28px;
  align-items: flex-end;
  .sub-content-title-text {
    font-size: 20px;
    color: $navy-blue;
  }
}

.sub-content__title .sub-content-title-text {
  opacity: 0;
  -webkit-transition: all 1s ease 2.6s;
  -moz-transition: all 1s ease 2.6s;
  -o-transition: all 1s ease 2.6s;
  transition: all 1s ease 2.6s;
}

.sub-content__title.is--active .sub-content-title-line {
  height: 100%;
}
.sub-content__title.is--active .sub-content-title-text {
  color: $navy-blue;
  opacity: 1;
}

.sub-content-content {
  padding-top: 90px;
  max-width: 1200px;
  margin: 0 auto;
  @include clearfix();
}

/*sub-page-notice*/
.page_info {
  width: 100%;
  color: #888;
  padding: 1rem 2rem;
  /* border: 1px solid #d1d1d1; */
  margin: 4rem auto;
  letter-spacing: -.04rem;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page_info li {
  font-size: 14px;
  color: #878787;
  line-height: 1.1rem;
  + li {
    margin-top: 10px;
  }
}
.page_info LI:before {
  content: "※";
  display: inline-block;
  margin-right: .1rem;
  color: #878787;
  font-size: 14px;
}
