.model-house-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 15;
  &.is--active {
    display: block;
  }
}
.model-house-button {
  position: absolute;
  left: 0;
  top: calc(50% - 37.5px);
  width: 22px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: 50% 50%, 0 0;
  background-image: url("../images/common/model-house-open.png");
  background-size: 14px, auto;
  z-index: 111;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
}
.model-house-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  padding-left: 55px;
  width: 100px;
  height: 860px;
  z-index: 17;
  display: flex;
  padding-top: 180px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-image: url("../images/common/model-house-title.png"), url("../images/common/model-house-bg.png");
  background-position: 55px 50%, 0 100%, 0 100%;
  transform: translate(0, 0);
  -webkit-transition: width 0.5s ease, transform 0.5s ease;
  -moz-transition: width 0.5s ease, transform 0.5s ease;
  -o-transition: width 0.5s ease, transform 0.5s ease;
  transition: width 0.5s ease, transform 0.5s ease;
  //&:after {
  //  content: '';
  //  width: 100%;
  //  height: 1px;
  //  opacity: 0.2;
  //  background-color: #a4937f;
  //  position: absolute;
  //  top: 560px;
  //  left: 0;
  //}
  &.is--active {
    transform: translate(0, 0);
    width: 935px;
    padding-left: 5%;
    .model-house-button {
      background-position: 50% 50%, 0 0;
      background-image: url("../images/common/model-house-close.png");
      background-size: 14px, auto;
    }
    .model-house-tel {
      display: block;
    }
    .model-house-content-area {
      display: block;
    }
  }

  .model-house-tel {
    display: none;
    -webkit-transition: left 0.5s ease;
    -moz-transition: left 0.5s ease;
    -o-transition: left 0.5s ease;
    transition: left 0.5s ease;
    position: absolute;
    top: 62px;
    right: 75px;
    width: 240px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url("../images/common/tel-white.png");
  }
  &-subject {
    line-height: 1.26;
    letter-spacing: -0.94px;
    text-align: left;
    color: $white;
    font-family: $mont;
    text-transform: uppercase;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    align-items: center;
    b {
      font-weight: bold;
    }
    span {
      line-height: 1.26;
      letter-spacing: -2.82px;
      color: #f4f4f4;
      font-size: 47px;
      font-weight: 300;
    }
    .model-house-menu-line {
      width: 53px;
      height: 1px;
      display: inline-block;
      margin-right: 10px;
      background: $white;
    }
  }
  &__description {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.58;
    letter-spacing: -0.33px;
    color: rgba(255, 255, 255, 0.5);
    margin: 25px 0 29px;
  }
  &__number {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    line-height: 1;
    display: inline-block;
    font-family: $mont;
    padding: 10px 20px;
    margin-bottom: 35px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    b {
      font-family: $mont;
    }
    .model-house-number-line {
      display: inline-block;
      width: 1px;
      height: 10px;
      margin: 0 7px;
      background: rgba(255, 255, 255, 0.2);
    }
  }
  .model-house-text__item {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.28px;
    text-align: center;
    color: rgba(244, 244, 244, 1);
    position: relative;
    &:hover {
      color: $lPoint;
      .model-house-text__icon {
        background-image: url("../images/main/main-quick-text-icon1-hover.png");
      }
    }
    .model-house-text__icon {
      background-repeat: no-repeat;
      background-position: 50% 0;
      height: 40px;
      width: 100%;
      background-image: url("../images/main/main-quick-text-icon1.png");
    }
    & + .model-house-text__item {
      &:hover {
        .model-house-text__icon {
          background-image: url("../images/main/main-quick-text-icon2-hover.png");
        }
      }
      .model-house-text__icon {
        background-image: url("../images/main/main-quick-text-icon2.png");
      }

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 108px;
        background: $white;
        opacity: 0.1;
        left: 0;
        bottom: 0;
      }
      & + .model-house-text__item {
        .model-house-text__icon {
          background-position: 39% 0;
          background-image: url("../images/main/main-quick-text-icon3.png");
        }
        &:hover {
          .model-house-text__icon {
            background-image: url("../images/main/main-quick-text-icon3-hover.png");
          }
        }
      }
    }
  }
  .model-house-navi {
    margin-left: 10%;
    margin-top: -90px;
    display: none;
    &-header {
      display: flex;
      align-items: center;
      @include responsive('1700px', 'max') {
        width: 90%;
        justify-content: space-between;
      }
    }
    &-subject {
      color: $lPoint;
      font-size: 36.5px;
      font-weight: 300;
      line-height: 1.07;
      b {
        font-family: $mont;
        font-size: 52px;
      }
      &:after {
        content: '';
        display: inline-block;
        width: 379px;
        height: 1px;
        margin-left: 36px;
        margin-bottom: 18px;
        background: rgba(164, 147, 127, 0.4);
        @include responsive('1700px', 'max') {
          content: none;
        }
      }
    }
    &-info {
      border-radius: 18px;
      padding: 4px 32px 6px 33px;
      border: solid 1px rgba(164, 147, 127, 0.4);
      color: $lPoint;
      font-family: $mont;
      span {
        font: inherit;
      }
    }
    &-list {
      margin-top: 200px;
      display: flex;
      color: #fff;
      text-transform: uppercase;
      .main-navi__item {
        display: block;
        width: 160px;
        padding: 20px;
        box-sizing: border-box;
        border: 4px solid transparent;
        &:hover {
          border: solid 4px #b49b76;
        }
        @include responsive('1500px', 'max') {
          width: 140px;
        }
      }
      .main-navi__link {
        font-family: $mont;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.86;
        letter-spacing: -0.28px;
        &-icon {
          display: block;
          margin-bottom: 11px;
        }
        &.disabled {
          opacity: 0.4;
        }
      }
      .main-navi-depth {
        padding: 20px 0;
        &__link {
          font-size: 16.5px;
          font-weight: 300;
          line-height: 1.85;
          letter-spacing: -0.5px;
          color: rgba(244, 244, 244, 1);
        }
      }
    }
  }
  .model-house-content-area {
    display: none;
    padding-left: 8%;
  }
}

.unit-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  &.is--active {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .unit-modal-close {
    position: absolute;
    right: -43px;
    top: 0;
  }
  .model-house-unit {
    &-content {
      position: relative;
      display: none;
      top: 0;
      left: 0;
      height: 357px;
      width: 442px;
      color: $white;
      box-sizing: border-box;
      -webkit-transition: all 0.5s ease .1s;
      -moz-transition: all 0.5s ease .1s;
      -o-transition: all 0.5s ease .1s;
      transition: all 0.5s ease .1s;
      .unit-content-list {
        display: flex;
        flex-wrap: wrap;
      }
      .unit-content__item {
        width: calc(50% - 5px);
        border: 1px solid #ddd;
        box-sizing: border-box;
        height: 80px;
        margin-top: 10px;
        background-repeat: no-repeat;
        background-position: 90% 6px;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            background-image: url("../images/common/unit-tab-icon#{$i}.png");
          }
        }
        &:nth-child(2n+1) {
          margin-right: 10px;
        }
      }
      .unit-content__link {
        padding: 18px;
        transition-property: opacity;
        transition-timing-function: ease-in-out;
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.9px;
        color: $darkPoint;
        height: 30px;
        background-repeat: no-repeat;
        background-position: 95% 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .unit-content__view {
        font-size: 12px;
        display: block;
        margin-top: 17px;
        font-family: $mont;
        color: $point;
        font-weight: bold;
        text-transform: uppercase;
      }
      &.is--active {
        display: flex;
      }
    }
    &.is--active {
      display: block;
    }
  }
  .unit-content-text-area {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 33px 40px 50px;
    background: $white url("../images/common/unit-modal-bg.png") no-repeat;

    .unit-content__name {
      font-size: 35px;
      letter-spacing: -1.89px;
      text-align: left;
      margin-bottom: 15px;
      color: $darkPoint;
      display: block;
      font-family: $mont;
    }
  }
}
