.model-house-button-area {
  z-index: 11;
  position: absolute;
  bottom: -40px;
  right: 5px;
  .model-house-button {
    width: 17.6vw;
    height: 17.6vw;
    border: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../images/common/model-house-button.png");
    background-size: contain;
    &.is--active {
      background-image: url("../images/common/model-house-close.png");
    }
    &-model-area {
      position: absolute;
      bottom: 0;
      right: 0;
      .button-model-text {
        position: absolute;
        bottom: 22%;
        left: -44%;
        z-index: -1;
      }
    }
  }
}
.model-house {
  width: 100%;
  z-index: 111;
  color: $white;
  height: 100%;
  background-repeat: no-repeat;
  background-image:  url("../images/main/model-house-bg-text.png");
  background-position: 13px 95%;
  background-color: $darkPoint;
  background-size: 10px;
  &-header {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-image:  url("../images/main/model-house-bg.png");
    background-position: 100% -35%;
    background-size: 50%;
    justify-content: space-between;
    background-color: $darkPoint;
    padding: 14.3vw 7% 11.9vw 8.5%;
    border-top-right-radius: 50px;
    .model-house__copyright {
      width: 35%;
    }
    .model-house-content__title {
      text-align: left;
      font-size: 35px;
      font-weight: normal;
      font-style: normal;
      line-height: 1.23;
      letter-spacing: normal;
      color: $point;
      strong {
        display: block;
      }
      span {
        color: #cadbed;
      }
    }
  }
  .model-house-quick-menu {
    position: absolute;
    bottom: 58px;
    width: 100%;
    display: flex;
    .model-house-quick {
      &__item {
        max-width: 163px;
        width: 16.4%;
      }
      &__button {
        width: 100%;
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: -0.9px;
        text-align: center;
        color: $white;
        padding-bottom: 16px;
        border-bottom: 2px solid;
        &.is--active,
        &:hover {
          color: #8eadce;
          border-color: #273d6c;
        }
      }
    }
  }
  &-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 126px;
    height: 34px;
    background-repeat: no-repeat;
    background-image:  url("../images/common/model-house-close.png");
  }
}

.unit-content-text-area {
  border-top-right-radius: 50px;
  overflow: hidden;
  background: $white;
  width: 47.6%;
  box-sizing: border-box;
  padding: 6vw 4vw;
  height: 235px;

  .unit-content__name {
    font-size: 20px;
    line-height: 0.89;
    text-align: left;
    color: $point;
    display: block;
    margin-bottom: 4vw;
  }
}

.model-house-popup-close {
  position: absolute;
  bottom: -17px;
  right: 10px;
}
.model-house-button-close {
  display: none;
}
.sub {
  .model-house-button-area {
    bottom: -10px;
    right: 42px;
    &.is--active {
      display: none;
    }
  }
  .model-house.is--active {
    .model-house-button-close {
      display: block;
    }
  }
  .model-house-button-close {
    background-repeat: no-repeat;
    background-image:  url("../images/common/model-house-close.png");
    width: 127px;
    height: 120px;
    border: 0;
    background-position: 50% 50%;
    position: fixed;
    bottom: 15px;
    right: -68px;
  }
}
.model-house-title-bottom {
  margin-top: 7.5vw;
  width: 66%;
}


.main-section-model-house {
  box-sizing: border-box;
  padding: 0 0 0 9.5%;
  .model-house-swiper-container {
    transform: translate3d(0, 40px, 0);
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
  }
  .model-house-slide-text-area {
    padding-left: 14%;
    padding-top: 7.6%;
    box-sizing: border-box;
    position: relative;
    .model-house-slide-text {
      color: $darkPoint;
      position: relative;
      font-size: 13px;
      font-weight: 500;
      & + .model-house-slide-text {
        margin-top: 10px;
      }
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          .model-house-slide__item-link {
            background-image: url("../images/main/model-house-slide-icon#{$i}.png");
          }
        }
      }
    }
    .model-house-slide__item-link {
      display: block;
      line-height: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 8vw;
    }
    .model-house-img-text {
      margin-top: 44px;
      margin-bottom: 54px;
      padding-left: 65px;
    }
  }
  .model-house-slide-img-area {
    width: 24vw;
  }
  .model-house-slide-content {
    background: $white;
    border-top-left-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 27vw 10vw 20vw;
  }
  .model-house-slide-bottom {
    background: $point;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .model-house-unit-info {
      width: 50vw;
      max-width: 357px;
    }
    .model-house-slide-link {
      height: 33px;
      line-height: 33px;
      display: block;
      letter-spacing: -.5px;
      box-sizing: border-box;
      font-size: 11px;
      text-align: center;
      color: $darkPoint;
      text-transform: uppercase;
      background: url("../images/main/model-house-view-arrow.png") no-repeat 90% 50% / 10px;
      font-family: Montserrat, $korea;
      padding-right: 25px;
    }
  }
  .model-house-slide-img-area {
    position: relative;
    display: inline-block;
  }
  .model-house-slide-img-text {
    position: absolute;
    left: 59px;
    bottom: 100px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.75;
    letter-spacing: -0.4px;
    text-align: left;
    color: $white;
    b {
      font-size: 30px;
    }
    @include respond-to(1290) {
      left: 45px;
    }
  }

  .model-house-slide-controller {
    position: absolute;
    bottom: 50%;
    left: auto;
    right: 0%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0;
    opacity: 1;
    -webkit-transition: opacity .5s ease 2s;
    transition: opacity .5s ease 2s;
    .swiper-pagination {
      position: relative;
      display: inline-block;
    }
  }
  .pagination-wrap {
    margin-left: 6px;
    width: 100%;
    position: relative;
    margin-top: -27px;
  }
  .swiper-button-next, .swiper-button-prev {
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    display: block;
    //content: '';
    top: 10px;
    left: 3%;
    width: 7vw;
    height: 14vw;
    background-image: url('../images/main/model-house-prev-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -17px;
  }
  .swiper-button-next {
    left: auto;
    right: 3%;
    background-image: url('../images/main/model-house-next-button.png');
  }
  .model-house-slide-header {
    margin-bottom: -18px;
  }
  .model-house-slide-button-area {
    display: flex;
    padding-right: 4%;
    justify-content: flex-end;
    .model-house-slide__button {
      width: 17%;
      height: 29px;
      text-align: center;
      background-color: #eeeeee;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 1.43;
      letter-spacing: -0.3px;
      color: $darkPoint;
      border-radius: 23.1px;
      border: solid 1px #e9e9e9;
      &.is--active {
        background-color: $point;
        color: $white;
        border-color: $point;
      }
      & + .model-house-slide__button {
        margin-left: 1%;
      }
    }
  }
  .model-house-slide-text-area .model-house-slide-text {
    transition-delay: 1s;
  }
  .model-house-slide-bottom {
    .model-house-unit-info,
    .model-house-slide-link {
      transition-delay: 1.4s;
    }
  }
  .model-house-slide-img,
  .model-house-slide-text,
  .model-house-unit-info,
  .model-house-slide-link {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transition: all .5s ease .4s;
    -moz-transition: all .5s ease .4s;
    -o-transition: all .5s ease .4s;
    transition: all .5s ease .4s;
  }
  .aos-animate.model-house-slide-img {
    transition-delay: 5s;
  }
  .swiper-slide.swiper-slide-active {
    .model-house-slide-img,
    .model-house-slide-text,
    .model-house-slide-link,
    .model-house-unit-info {
      opacity: 1;
      transform: translateZ(0);
    }
  }
}
