.main-section {
  width: 100%;
}
//메인 비주얼 슬라이드
.main-section-visual {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  .main-visual {
    overflow: hidden;
    height: calc(100% - 62px);
    margin-top: 62px;
    padding-bottom: 50px;
    border-top-right-radius: 50px;
    width: calc(100% - 12%);
    margin-left: 0;
    box-sizing: border-box;
  }
  .main-visual-side {
    width: 12%;
    position: absolute;
    right: 0;
    padding: 14vw 2vw 0;
    top: 0;
    box-sizing: border-box;
    height: calc(100% - 62px);
    .main-side-mouse {
      position: absolute;
      bottom: 20vw;
      left: 0;
      width: 100%;
      padding: 8vw 10vw;
      box-sizing: border-box;
      background: url("../images/main/mouse.png") no-repeat 25% 50% / 10px;
    }
    .main-side__link {
      display: block;
      & + .main-side__link {
        position: relative;
        margin-top: 6.25vw;
        padding: 6.25vw 6px;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          height: 1px;
          width: 100%;
          display: block;
          background-color: #cfd0d5;
        }
      }
    }
  }

  .main-visual-swiper-slide {
    overflow: hidden;
    .main-slide-bg {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
      -webkit-transform: scale(1.2, 1.2) rotate(0.002deg);
      transform: scale(1.2, 1.2) rotate(0.002deg);
      -webkit-transition: transform 4000ms ease-in-out;
      -moz-transition: transform 4000ms ease-in-out;
      -o-transition: transform 4000ms ease-in-out;
      transition: transform 4000ms ease-in-out;
    }
    .main-slide-text {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      padding: calc(62px + 15.5%) 0 0;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      color: $white;
      .main-copyright {
        width: 80%;
        opacity: 0;
        transform: translate3d(0, 100px, 0);
        transition-property: opacity, transform;
        transition-timing-function: ease-in-out;
        transition-duration: 2s;
        transition-delay: 0.2s;
      }
      .main-slide-text--sub {
        width: 56.6%;
        font-size: 23px;
        display: flex;
        align-items: center;
        letter-spacing: -0.4px;
        opacity: 0;
        transform: translate3d(0, 100px, 0);
        transition-property: opacity, transform;
        transition-timing-function: ease-in-out;
        transition-duration: 2s;
        transition-delay: 1s;
        img {
          margin: 4vh 0 0 auto;
          display: block;
          width: 68%;
        }
      }
    }
    &1 {
      .main-slide-bg {
        background-image: url("../images/main/main-visual1-img.png");
      }
    }
    &2 {
      .main-slide-bg {
        background-image: url("../images/main/main-visual2-img.png");
      }
    }
    &3 {
      .main-slide-bg {
        background-image: url("../images/main/main-visual3-img.png");
      }
    }
    &.swiper-slide-active {
      .main-slide-bg {
        -webkit-transform: scale(1.01, 1.01) rotate(0.002deg);
        transform: scale(1.01, 1.01) rotate(0.002deg);
      }
      .main-slide-text {
        .main-copyright,
        .main-slide-text--sub {
          opacity: 1;
          transform: translateZ(0);
        }
      }
    }
  }
  .main-swiper-side-content {
    position: absolute;
    right: 5%;
    bottom: calc(50px + 4%);
    z-index: 2;
    .main-swiper-side__link {
      display: block;
      width: 6.66vw;
      margin-bottom: 15%;
    }
  }
  .swiper-number-area {
    position: absolute;
    width: 24vw;
    top: 8px;
    z-index: 1;
    display: flex;
  }
  .swiper-label__number {
    font-size: 10px;
    line-height: 1;
    color: $white;
    opacity: 0;
    width: 33.33%;
    display: block;
    text-align: center;
    &.is--active {
      opacity: 1;
    }
  }
  .main-swiper-bottom-content {
    background: $darkPoint;
    height: 50px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw 0 8.2vw;
  }
  .main-quick-menu__link {
    margin-right: 1vw;
    img {
      height: 15px;
    }
  }
  .pagination-wrap {
    width: 38px;
    .swiper-button-next, .swiper-button-prev {
      width: 12px;
      height: 12px;
    }
  }
  .swiper-button-area {
    position: relative;
    height: 50px;
    .swiper-pagination-progressbar {
      width: 24vw;
      opacity: 1;
      background: rgba(254,254,254,0.3);

      .swiper-pagination-progressbar-fill {
        background: $point;
      }
    }
  }
  .main-swiper-slide-button-area {
    z-index: 11;
    margin-left: 10px;
  }
  .main-swiper-slide-button {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 5px;
    &.is--hide {
      display: none;
    }
    &.main-swiper-slide-button--stop {
      background-image: url("../images/main/icon-stop.png");
    }
    &.main-swiper-slide-button--play {
      background-size: 8px;
      background-image: url("../images/main/icon-play.png");
    }
  }
}



.swiper-button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0;
  .swiper-pagination {
    position: relative;
    display: inline-block;
    &-progressbar {
      width: 300px;
      height: 2px;
      background: rgba(255, 255, 255, .41);
      -webkit-transition: background .8s linear;
      transition: background .8s linear;

      .swiper-pagination-progressbar-fill {
        background: #fff;
        -webkit-transition: background .8s linear;
        transition: background .8s linear;
      }
    }
  }
}
.pagination-wrap {
  margin-left: 6px;
  width: 50px;
  position: relative;
}
.swiper-button-next, .swiper-button-prev {
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  display: block;
  //content: '';
  top: 10px;
  left: 6px;
  width: 14px;
  height: 14px;
  background-image: url(../images/main/icon-arrow_prev.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -17px;
}
.swiper-button-next {
  left: auto;
  right: 0;
  background-image: url(../images/main/icon-arrow_next.png);
}

.main-about {
  padding: 22vw 0;
  text-align: center;
  &__title {
    font-family: $trajan;
    font-weight: normal;
    line-height: 1.75;
    color: #555;
    font-size: 11px;
    margin-bottom: 9.3vw;
  }
  .main-about-sub-title-img {
    width: 53%;
    max-width: 385px;
  }
  .main-about {
    &-text-area {
      background-size: contain;
      padding-bottom: 78vw;
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-image: url("../images/main/about-img.png");
    }
    &-line {
      width: 35px;
      height: 1px;
      display: block;
      margin: 8vw auto 6vw;
      background: $point;
    }
    &__text {
      padding: 0 5%;
      font-size: 10px;
      font-weight: 300;
      line-height: 1.75;
      color: #555;
      word-break: keep-all;
    }
  }
}
//life
.main-life {
  margin-bottom: 16.5vw;
  &-header {
    position: relative;
    display: flex;
    margin-bottom: 8.6vw;
    &-text {
      width: 72.4%;
      color: $navy-blue;
      text-align: right;
      .main-life {
        &__title {
          font-size: 36px;
          margin: 3.6vw 0 4vw;
          font-family: $trajan;
          font-weight: normal;
          &-sub {
            font-size: 13px;
            text-align: left;
            padding-left: 9vw;
            line-height: 1.09;
            letter-spacing: -1.1px;
          }
        }
        &__view-more {
          max-width: 149px;
          width: 20.7vw;
          display: block;
          margin-left: auto;
        }
      }
    }
    &-link {
      width: 27.6%;
      padding-right: 2%;
      box-sizing: border-box;
      .main-life__link {
        display: block;
        width: 30px;
        margin-left: auto;
        & + .main-life__link {
          margin-top: 8%;
        }
      }
    }
  }
  .swiper-container {
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 40%;
    background-image: url("../images/main/life-slide-bg.png");
    .swiper-slide {
      padding-left: 12%;
      box-sizing: border-box;
    }
  }
  .life-slide-controller {
    position: absolute;
    top: 20%;
    width: 88px;
    height: 50px;
    left: 5%;
  }
}
.common-slide-controller {
  width: 120px;
  .pagination-wrap {
    width: 100%;
  }
  .swiper-button-next, .swiper-button-prev {
    margin-top: 0;
  }
  .swiper-button-prev {
    width: 6.25vw;
    height: 3.4vw;
    max-width: 43px;
    max-height: 25px;
    background-image: url("../images/main/icon-arrow_prev-blue.png");
  }
  .swiper-button-next {
    width: 10vw;
    top: 2px;
    height: 7.7vw;
    max-width: 70px;
    max-height: 55px;
    background-image: url("../images/main/icon-arrow_next-blue.png");
  }
}
//life
//premium
.main-section-premium {
  position: relative;
  box-sizing: border-box;
  .premium-slide-header {
    border-top-left-radius: 50px;
    color: $white;
    padding: 22.2vw 0 54.8vw 17vw;
    background: $point;
    .main-premium {
      &__title {
        color: $white;
        font-size: 36px;
        line-height: 0.68;
        font-weight: normal;
        letter-spacing: -3.65px;
        font-family: $trajan;
      }
      &__description {
        font-size: 21px;
        margin: 6vw 0 4.44vw;
        font-weight: 300;
        line-height: 1.2;
        letter-spacing: -0.85px;
      }
      &__view-more {
        max-width: 149px;
        width: 20.7vw;
        display: block;
        margin-right: auto;
      }
    }
  }
  .premium-swiper-container {
    &.swiper-container-autoheight {
      padding-left: 8.75%;
      padding-bottom: 50px;
      margin-top: -250px;
      padding-top: 95px;
      .swiper-wrapper {
        //height: 550px !important;
        align-items: flex-end;
      }
    }
  }
  .side-text {
    margin: 3vh 0 0 0;
  }
  .premium-slide-controller {
    position: relative;
    margin-top: 20px;
    .swiper-pagination-progressbar {
      width: calc(100% - 60px);
      background: #eeeeee;
      height: 2px;
      right: 0;
      &-fill {
        background: $navy-blue;
      }
    }
    .pagination-wrap {
      position: absolute;
      width: 55px;
      top: -10px;
      left: -14px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: 16px;
      height: 16px;
      margin-top: -8px;
    }
    .swiper-button-next {
      background-image: url('../images/main/premium-arrow-next.png');
    }
    .swiper-button-prev {
      background-image: url('../images/main/premium-arrow-prev.png');
    }
  }

  .swiper-slide {
    position: relative;
    box-sizing: border-box;
    transition: transform 1s;
    transform: translate3d(0, -95px, 0);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden;
    .premium-img-area {
      position: relative;
      .premium-top-area {
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        background: $white;
        padding: 11vw 10vw 8.88vw;
        .premium {
          &__subject {
            font-size: 14px;
            line-height: 1.06;
            letter-spacing: -0.5px;
            text-align: left;
            color: #0a2241;
            b {
              display: block;
              color: #555;
            }
          }
          &__description {
            font-weight: 300;
            font-size: 12px;
            line-height: 1.47;
            letter-spacing: -0.32px;
            text-align: left;
            color: #555;
          }
        }
      }
      .premium-bottom-area {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 5vw 5vw 6.5vw;
        box-sizing: border-box;
        .premium-bottom {
          &__icon {
            width: 16.1vw;
          }
          &__number {
            font-weight: 800;
            line-height: 1;
            letter-spacing: -1.86px;
            color: $white;
            font-size: 46px;
            font-family: $mont;
          }
        }
      }
    }
    &.swiper-slide-active {
      transform: translate3d(0, 0, 0);
      .unit-img-area {
        padding: 0;
        border-radius: 0;
      }
      .swiper-slide-unit {
        &__link {
          display: block;
        }
        &-text {
          margin: 9.5vw 0 0;
        }
      }
    }
    .swiper-slide-unit {
      &__link {
        position: absolute;
        right: 50px;
        top: 0;
        display: none;
        width: 15vw;
        height: 15vw;
      }
      &-text {
        margin: 28px 0 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__type {
        font-size: 21px;
        font-weight: bold;
        line-height: 0.71;
        color: $point;
      }
      &__content {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.33;
        color: $point;
      }
    }
  }
}

// 인테리어
.main-section-interior {
  padding-top: 10vw;
  @include clearfix();
  .main-section-content-interior {
    position: relative;
    padding-bottom: 21vw;
  }
  .interior-slide-controller {
    width: 100%;
    box-sizing: border-box;
    height: 41px;
    font-size: 0;
    opacity: 1;
    -webkit-transition: opacity .5s ease 2s;
    transition: opacity .5s ease 2s;
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-between;
    .swiper-pagination {
      position: relative;
      display: inline-block;
    }
    .pagination-wrap {
      margin-top: 10px;
      margin-left: 10px;
    }
  }
}
.main-interior {
  &-header {
    padding-right: 4%;
    text-align: right;
    position: relative;
  }
  &__title {
    font-size: 50px;
    font-weight: 600;
    line-height: 0.83;
    color: #e9e9e9;
    font-family: $mont;
    text-transform: uppercase;
    b {
      font-weight: 600;
      text-transform: capitalize;
      color: $navy-blue;
      margin-top: 4.44vw;
      font-family: $mont;
      margin-bottom: 6.5vw;
      display: block;
      font-size: 32px;
      letter-spacing: -3.23px;
    }
  }
  &__description {
    font-size: 15px;
    width: auto;
    display: inline-block;
    margin-top: 10.7vw;
    font-style: normal;
    line-height: 1.4;
    text-align: left;
    color: $point;
    position: relative;
    &:after {
      content: '';
      width: 25px;
      height: 2px;
      display: inline-block;
      background-color: #6b7c86;
      position: absolute;
      bottom: 8px;
      right: 33px;
    }
  }
}
.interior-content-area {
  padding-right: 12.5%;
}
.interior-side-area {
  width: 12.5%;
  padding: 5% 2.5% 0;
  position: absolute;
  right: 0;
  top: 36%;
  height: 41%;
  box-sizing: border-box;
  .interior-side__link {
    display: block;
    & + .interior-side__link {
      position: relative;
      margin-top: 6.25vw;
      padding: 6.25vw 6px;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 1px;
        width: 100%;
        display: block;
        background-color: #cfd0d5;
      }
    }
  }
}
.interior-swiper-container {
  padding: 0 0 15px;
  .swiper-wrapper {
  }
  .swiper-slide:not(.swiper-slide-active) {
    opacity: 0.6;
    //margin-top: 300px;
  }
  .swiper-slide {
    &-active {
      box-sizing: border-box;
      .swiper-label-area {
        display: block;
      }
    }
  }
  .swiper-slide {
    .swiper-label-area {
      width: 63%;
      max-width: 454px;
      margin-right: auto;
      margin-left: 0;
      padding-left: 8vw;
    }
  }

}

.swiper-slide-button-area {
  position: absolute;
  top: 14px;
  left: 18%;
}
.swiper-slide-button {
  width: 11px;
  height: 9px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  &.is--hide {
    display: none;
  }
  &--stop {
    background-image: url("../images/main/icon-stop-gray.png");
  }
  &--play {
    background-image: url("../images/main/icon-play-gray.png");
  }
}
.swiper-label-area {
  &:not(.swiper-label-number-area) {
    width: 39%;
    box-sizing: border-box;
    height: 100%;
    margin-left: auto;
    margin-right: 8%;
    margin-bottom: 6vw;
  }
  &.swiper-label-number-area {
    display: flex;
    top: 11px;
    left: 0;
    font-family: Montserrat, $korea;
    font-size: 12px;
    color: #d0d0d0;
    align-items: flex-end;
  }
  .swiper-label__total {
    margin-left: 2px;
  }
  .swiper-label__number,
  .swiper-label__total {
    font-size: 11px;
    color: #d0d0d0;
    display: block;
    z-index: -1;
    font-family: $mont;
    transition: all, linear 0.3s;
    font-weight: 500;
  }
  .swiper-label__number {
    color: #000000;
    font-size: 20px;
    margin-right: 5px;
  }
  .swiper-label__text {
    font-size: 36.5px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1.83px;
    color: #5c5c5c;
    padding-right: 20px;
    &-small {
      padding-right: 0;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.44;
      letter-spacing: -0.9px;
      color: $point;
    }
  }
}
.main-interior-button-area {
  padding: 0 3.33%;
  z-index: 111;
  display: flex;
  margin-bottom: 9.3vw;
  .main-interior__button {
    font-family: $mont;
    width: 50%;
    height: 30px;
    left: 0;
    border: solid 1px #e9e9e9;
    background-color: $white;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 30px;
    letter-spacing: normal;
    text-align: center;
    color: $navy-blue;
    display: block;
    position: relative;
    z-index: 1;
    &.is--active {
      border-color: $navy-blue;
      background: $navy-blue;
      color: $white;
    }
    & + .main-interior__button {
      margin-top: 10px;
    }
  }
}

// side-menu
.side-menu {
  position: absolute;
  left: 9.5vw;
  bottom: 2.4vw;
  color: $white;
  z-index: 1;
  &__link {
    margin-right: 1.6vw;
    &:hover {
      .side-menu__name {
        border-bottom: 1px solid;
        padding-bottom: 4px;
      }
    }
  }
  &.is--black {
    color: #001241;
  }
  &__name {
    font-size: 18px;
    font-weight: normal;
    margin-left: 5px;
  }
}
//.main-common {
//  &__title {
//    font-family: Montserrat, $korea;
//    font-size: 22.5px;
//    font-weight: 600;
//    letter-spacing: -1px;
//    color: $point;
//    padding-left: 5%;
//  }
//}
